@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

//Global Variables
$font-stack: Arial, Helvetica,  sans-serif;
$color-button-primary: #3871DF;

$breakpoints: (
        sm: 640px,
        md: 768px,
        lg: 1024px,
        xl: 1280px
);

//Mixins for media-queries
@mixin media-min($bp) {
  @media (min-width: map-get($breakpoints, $bp)) {
    @content;
  }
}

@mixin media-max($bp) {
  $val: map-get($breakpoints, $bp);
  @media (max-width: calc(#{$val} - 1px)) {
    @content;
  }
}

//////////////////////////
//Default Styling
//////////////////////////

body {
  background: var(--background);
  color: var(--foreground);
  font: 100% $font-stack;
}


h1 {
  font-size:2rem;
  font-weight:700;
}

h2 {
  font-size:1.5rem;
  font-weight:700;
}

/*main {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  max-width: 1280px;
}*/

.btn, button {
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1000px;
  height: 3rem;
  line-height: 1.2rem;
  padding: 1rem;

  &.btn-primary {
    background: $color-button-primary;
    color: #fff;

    &:hover {
      background: darken($color-button-primary, 10%)
    }
  }

  &:focus-visible {
    outline: 2px solid #000;
    outline-offset: 2px;
  }
}
